header {
    height: 200px;
    width: 80%;
    background-color: #dfdfdf;
    background-image: url('../images/image.png');
    /* background-repeat: no-repeat; */
    /* background-repeat: repeat-y; */
    /* background-size: 200px; */
    /* background-size: contain; */
    /* background-size: auto; */
    /* background-size: cover; */
    background-size: 150px 70px;
    background-repeat: no-repeat;
    background-position: 98% 10% ;
    border: 1px solid #200044;
    border-radius: 15px;
    margin: 20px;
    padding: 50px;

}

div {
    background-color: #d3d1d1;
    padding: 20px;
    border-radius: 5px;
    /* text-decoration: overline; */
    border: 10px  solid #866767;
    box-shadow: 5px 5px  5px #200044;
    font-family: 'Courier New', Courier, monospace;

}

.highlight {
    font-weight: bold;
    display: inline-block;
    border: 2px solid #200044;
}

q {
    font-style: italic;
    color: #200044;
    background-color: antiquewhite;
}

h2 {
    color: #200044;
    font-size: 24px;
    text-align: center;
}

.block {
    border: 5px solid #200044;
    height: 70px;
    width: 250px;
    text-align: center;
    /* display: block; */
    display: inline-block;
}